@tailwind base;
@tailwind components;
@tailwind utilities;

.header{
  background-color: burlywood;
  color: brown;
  height: 75px;
}

.header-buttons{
  margin-left: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  font-size: 35px;
}

.parent{
  width: 100%;
  height: 100vh;
  background-color: burlywood;
}
.testingResponsive{
  width: 500px;
  height: 500px;
  background-color: aquamarine;
  border-radius: 10px;
  margin: 10px;
}
 

/* veiw width = vw veiw height = vh */

@media only screen and (max-width: 300px) {
  .testingResponsive{

    width: 200px;
    height: 200px;
  }
}